<!doctype html>
<html>
	<head>

		<meta charset="utf8" />
		<title> PotatoesFilms </title>

	</head>

	<body>

		<div class="container">

			<h1> PotatoesFilms</h1>

			<% include menu_nav.html %>

		</div> <!-- Cierre del div container -->

	</body>
</html>