<!doctype html>
<html>
	<head>

		<meta charset="utf8" />
		<title> Interstellar </title>
		<link rel="stylesheet" href="css/movie.css" />

	</head>

	<body>

		<div class="container">

			<% include header.html %>

			<center> <h1> <%= body.movies[0].title %> </h1> </center>

			<section class="info">

				<div id="imagen">

					<img src="img/cartel/interstellar.jpg"></img>

				</div> <!-- Cierre del div imagen -->

				<div id="data">

					<h3> Año: </h3>

					<p> <%= body.movies[0].year %> </p>

					<h3> Duración: </h3>

					<p> <%= body.movies[0].runtime %> mins </p>


					<h3> Sinopsis: </h3>

					<p id="sinopsis"> <%= body.movies[0].synopsis %> </p>

					<a href="/cines"> <img src="img/atras.png"></img> </a>

				</div> <!-- Cierre del div data -->

			</section> <!-- Cierre la info -->
			
		</div> <!-- Cierre del div container -->

	</body>
</html>