/* ************************************************************************************************
											Selector UNIVERSAL
************************************************************************************************ */

*{

	margin: 0px;
	padding: 0px;

}

/* ************************************************************************************************
											Selectores por TIPO
************************************************************************************************ */

body{
	
	width: 100%; /* Para que ocupe toda la pantalla */

}

h1{

	color: #AB395D;
	font-size: 46px;
	margin-bottom: 10px;
}


/***********************************************************************************************
									   		Selectores por CLASE 
***********************************************************************************************/

/* Layout ****************************/
.container{

	width: 100%;
	
}

/* Información de cada película */
.info{

	display: -webkit-box; /* Chrome*/
	-webkit-box-orient: horizontal; /* Películas en horizontal */

}

/* ************************************************************************************************
											Selectores por ID
************************************************************************************************ */

/* Cartelera de la película */
#imagen{

	margin-left: 20px;
}

/* Datos de la película */
#data{

	margin-left: 70px;
	margin-top: 40px;

}

#data h3{

	margin-top: 10px;
	margin-bottom: 10px;
}

#data p{

	margin-left: 10px;
	margin-bottom: 20px;
}

#sinopsis{

	text-align: justify;
	width: 60%;
}

#reparto{

	margin-left: 10px;
	margin-bottom: 20px;
}